/*------------------ Header ----------------------*/
#header{
    height: 10vh;
    background-color: #35509a;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;
  }
  
  #header a{
    font-size: 1.2rem;
    color:#fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  #header .logo{
    background-color: #fff;
    width: 6vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #header .logo img{
    width: 70%;
    height: 70%;
  }
  